<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Liste de votre Locataire</h2>
      </div>
    </div>
    <div class="row">
      <div class="not-data" *ngIf="!loading && listLocation.length<=0">
        <h6 class="text-center">Aucune location disponible , veuillez d'abbord en creé un <span><a routerLink="/user-space/location/create">ici</a></span></h6>
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="height: 590px;
      overflow: auto;" *ngIf="listLocation.length>0">
      <div class="content-call">
        <div class="call">
          <button type="button" (click)="onGenerateCall()" *ngIf="!loadCall" class="btn btn-success">
            <span class="mr-2">
              <i class="fa fa-phone"></i>
            </span>
            Généré un appel de Loyer
          </button>
          <button style="width: 236.28px;" type="button" *ngIf="loadCall" class="btn btn-success">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Génération ...
          </button>
        </div>
      </div>
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Row </th>
                <th>Bien</th>
                <th>Loyer</th>
                <th>Nom </th>
                <th>Prenom </th>
                <th>Email </th>
                <th>Telephone </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="!loading">
              <tr class="alert" role="alert" *ngFor="let location of listLocation; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{location.property.type+' à '+location.property.adresse_postale}}</td>
                <td>{{location.property.loyer}}</td>
                <td>{{location.tenant.nom}}</td>
                <td>{{location.tenant.prenom}}</td>
                <td>{{location.tenant.email}}</td>
                <td>{{location.tenant.telephone}}</td>
                <td align="right">
                  <a [routerLink]="'/user-space/location/edit/'+location.tenant._id" class="edit mr-3" aria-label="Edit">
                    <span aria-hidden="true">
                      <i class="fa-solid fa-pen"></i>
                    </span>
                  </a>
                  <a (click)="onDeleteLocation(location.tenant._id)" class="trash mr-3" style="color: #dc3545;"  aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <div *ngIf="loading" class="d-flex justify-content-center">
              <div class="text-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>