<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Liste de votre Biens</h2>
      </div>
    </div>
    <div class="row">
      <div class="not-data" *ngIf="!loading && listBien.length<=0">
        <h6 class="text-center">Aucun bien disponible , veuillez d'abbord en creé un <span><a routerLink="/user-space/bien/create">ici</a></span></h6>
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="height: 590px;
      overflow: auto;" *ngIf="listBien.length>0">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Row </th>
                <th>Type bien</th>
                <th>Loyer</th>
                <th>Surface (m²)</th>
                <th>Adress postale</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="!loading">
              <tr class="alert" role="alert" *ngFor="let bien of listBien; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{bien.type}}</td>
                <td>{{bien.loyer}}</td>
                <td>{{bien.surface}}</td>
                <td>{{bien.adresse_postale}}</td>
                <td align="right">
                  <a [routerLink]="'/user-space/bien/edit/'+bien._id" class="edit mr-3" aria-label="Edit">
                    <span aria-hidden="true">
                      <i class="fa-solid fa-pen"></i>
                    </span>
                  </a>
                  <a  (click)="onDeleteBien(bien._id+'')" class="trash mr-3" style="color: #dc3545;"  aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>